[General]
# > 跳过代理
skip-proxy = 127.0.0.0/8, 192.168.0.0/16, 10.0.0.0/8, 172.16.0.0/12, 100.64.0.0/10, 162.14.0.0/16, 211.99.96.0/19, 162.159.192.0/24, 162.159.193.0/24, 162.159.195.0/24, fc00::/7, fe80::/10, localhost, *.local, captive.apple.com, passenger.t3go.cn, *.ccb.com, wxh.wo.cn, *.abcchina.com, *.abcchina.com.cn
always-real-ip = %APPEND% dns.msftncsi.com, *.srv.nintendo.net, *.stun.playstation.net, xbox.*.microsoft.com, *.xboxlive.com, *.turn.twilio.com, *.stun.twilio.com, stun.syncthing.net, stun.*, *.sslip.io, *.nip.io
exclude-simple-hostnames = true
hijack-dns = 8.8.8.8:53, 8.8.4.4:53
ipv6 = false
ipv6-vif = off
show-error-page-for-reject = true
read-etc-hosts = true
internet-test-url = http://www.google.com
proxy-test-url = http://latency-test.skk.moe/endpoint
proxy-test-udp = www.apple.com@64.6.64.6
vif-mode = v3
udp-policy-not-supported-behaviour = REJECT
encrypted-dns-server = quic://223.5.5.5, quic://223.6.6.6, https://1.12.12.12/dns-query, https://120.53.53.53/dns-query

[Proxy]
GreenCloud-HK = snell, x.x.x.x, 28965, psk=hNcdlFJouv9MRbwR, version=5, reuse=true, tfo=true, underlying-proxy=Underlying-proxy
GreenCloud-HK_po0 = snell, x.x.x.x, 28965, psk=hNcdlFJouv9MRbwR, version=5, reuse=true, tfo=true
GreenCloud-JP = snell, 45.8.112.247, 36926, psk=TlUtjvv4PCPynEWDKYAD, version=4, reuse=true, underlying-proxy=Underlying-proxy
GreenCloud-JP_po0 = snell, x.x.x.x, 36926, psk=TlUtjvv4PCPynEWDKYAD, version=4, reuse=true
Zouter-HK_po0 = snell, x.x.x.x, 40412, psk=8z6zfGztRu0PN6Co, version=5, reuse=true, tfo=true
ISIF-JP_up = snell, x.x.x.x, 40804, psk=UUeHQO9l8d7jyKsz, version=5, reuse=true, tfo=true
ISIF-JP_po0 = snell, x.x.x.x, 40804, psk=UUeHQO9l8d7jyKsz, version=5, reuse=true, tfo=true
YXVM-HK-po0 = snell, x.x.x.x, 42299, psk=ckdLU72d9VSNPY1i, version=5, reuse=true, tfo=true
YXVM-HK-ipv6 = snell, x.x.x.x, 20178, psk=ZoQWxj6icdJ3EkdL, version=5, reuse=true, tfo=true
YXVM-HK = snell, x.x.x.x, 42299, psk=ckdLU72d9VSNPY1i, version=5, reuse=true, tfo=true
GreenCloud-SG-po0 = snell, x.x.x.x, 51269, psk=Had4rD36ZPbJYq7G, version=5, reuse=true, tfo=true
GreenCloud-US-SJC = snell, x.x.x.x, 40804, psk=RDRQc97uiiMToqSQ, version=5, reuse=true, tfo=true

[Proxy Group]

# > 策略组（下面的节点信息需与外部节点对应，若删除了外部节点里的节点，那么在策略组里也要删除。）
Proxy = select, po0, "🇭🇰 香港", "🇨🇳 台湾", "🇯🇵 日本", "🇺🇸 美国", "🇸🇬 新加坡", "🌏 其他"
Underlying-proxy = select, DIRECT, PRPR, policy-regex-filter=up, include-all-proxies=1
po0 = select, DIRECT, PRPR, policy-regex-filter=po0, include-all-proxies=1
🇯🇵 日本 = select, policy-regex-filter=JP|jp|japan|东京|osaka, include-all-proxies=1
🇺🇸 美国 = select, policy-regex-filter=US|us|usa|losangeles|newyork|sjc, include-all-proxies=1
🇭🇰 香港 = select, policy-regex-filter=HK|hk|hongkong|香港, include-all-proxies=1
🇨🇳 台湾 = select, policy-regex-filter=TW|tw|taiwan|台湾, include-all-proxies=1
🇸🇬 新加坡 = select, policy-regex-filter=SG|sg|singapore|新加坡, include-all-proxies=1
🌏 其他 = select, policy-regex-filter=^(?!.*(jp|JP|japan|tokyo|osaka|us|US|usa|losangeles|newyork|hk|HK|tw|TW|sg|SG)).*$, include-all-proxies=1
PRPR = select, policy-path=https://ticket.12306.rip/surgenodelist/173975/OC9RcGsZBMqS7701v6mShk8R/shadowsocks, update-interval=0, no-alert=0, hidden=0, include-all-proxies=0

SpeedTest = select, Proxy, DIRECT, "🇭🇰 香港", "🇨🇳 台湾", "🇯🇵 日本", "🇺🇸 美国", "🇸🇬 新加坡", "🌏 其他", icon-url=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/apps/Apple_Arcade.png
Stream = select, Proxy, "🇭🇰 香港", "🇨🇳 台湾", "🇯🇵 日本", "🇺🇸 美国", "🇸🇬 新加坡", "🌏 其他", icon-url=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/erdongchanyo/Telegram.png
Telegram = select, Proxy, "🇭🇰 香港", "🇨🇳 台湾", "🇯🇵 日本", "🇺🇸 美国", "🇸🇬 新加坡", "🌏 其他", icon-url=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/erdongchanyo/Telegram.png
Apple-Microsoft = select, DIRECT, Proxy, "🇭🇰 香港", "🇨🇳 台湾", "🇯🇵 日本", "🇺🇸 美国", "🇸🇬 新加坡", "🌏 其他", icon-url=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/apps/Apple_Arcade.png
AIGC = select, "🇺🇸 美国", "🇭🇰 香港", "🇨🇳 台湾", "🇯🇵 日本", "🇸🇬 新加坡", "🌏 其他", Proxy
FINAL = select, DIRECT, Proxy

[Rule]
DOMAIN-SUFFIX,hytron.io,Proxy
PROCESS-NAME,"/Applications/Parallels Desktop.app/",DIRECT
DOMAIN-SUFFIX,juejin.cn,DIRECT
IP-CIDR,162.211.230.58/32,DIRECT
PROCESS-NAME,/Applications/Antigravity.app/,AIGC
PROCESS-NAME,"/Applications/Navicat Premium.app/",DIRECT
# PROCESS-NAME,/Applications/Infuse.app/Contents/MacOS/Infuse,Proxy
PROCESS-NAME,/usr/bin/ssh,DIRECT
PROCESS-NAME,/usr/bin/ping,DIRECT
PROCESS-NAME,/usr/bin/iperf3-darwin,DIRECT
PROCESS-NAME,"/Applications/Termius.app/Contents/Frameworks/Termius Helper (Renderer).app/Contents/MacOS/Termius Helper (Renderer)",DIRECT
PROCESS-NAME,"/Applications/Termius.app/Contents/Frameworks/Termius Helper.app/Contents/MacOS/Termius Helper",DIRECT
PROCESS-NAME,/Applications/ChatGPT.app/Contents/Resources/ChatGPTHelper,AIGC
PROCESS-NAME,/Applications/ChatGPT.app/Contents/MacOS/ChatGPT,AIGC
PROCESS-NAME,/Applications/Cursor.app/Contents/MacOS/Cursor,AIGC
PROCESS-NAME,"/Applications/Cursor.app/Contents/Frameworks/Cursor Helper (Plugin).app/Contents/MacOS/Cursor Helper (Plugin)",AIGC
PROCESS-NAME,"/Applications/Cursor.app/Contents/Frameworks/Cursor Helper.app/Contents/MacOS/Cursor Helper",AIGC

DOMAIN,pass.xiaok.de,DIRECT
DOMAIN,pass.119555.xyz,DIRECT
# Bybit 相关域名
DOMAIN,bybit-exchange.github.io,"🇯🇵 日本"
DOMAIN,bybit.ada.support,"🇯🇵 日本"
DOMAIN-SUFFIX,bybit.com,"🇯🇵 日本"
DOMAIN-SUFFIX,bycsi.com,"🇯🇵 日本"
DOMAIN-SUFFIX,bytick.com,"🇯🇵 日本"
DOMAIN-SUFFIX,byapis.com,"🇯🇵 日本"
DOMAIN-SUFFIX,bycbe.com,"🇯🇵 日本"
DOMAIN-SUFFIX,bymj.io,"🇯🇵 日本"
DOMAIN-SUFFIX,byabcde.com,"🇯🇵 日本"
DOMAIN-SUFFIX,byapps.net,"🇯🇵 日本"
DOMAIN-SUFFIX,byd3c3.com,"🇯🇵 日本"
DOMAIN-SUFFIX,bybit.biz,"🇯🇵 日本"
DOMAIN-SUFFIX,bybdc6.com,"🇯🇵 日本"
DOMAIN-SUFFIX,bybit-global.com,"🇯🇵 日本"
DOMAIN-SUFFIX,bybit.cloud,"🇯🇵 日本"
DOMAIN-SUFFIX,bybitglobal.com,"🇯🇵 日本"
# 币安相关域名,🇯🇵 日本
DOMAIN-SUFFIX,binance.cc,"🇯🇵 日本"
DOMAIN-SUFFIX,binance.charity,"🇯🇵 日本"
DOMAIN-SUFFIX,binance.cloud,"🇯🇵 日本"
DOMAIN-SUFFIX,binance.co,"🇯🇵 日本"
DOMAIN-SUFFIX,binance.com,"🇯🇵 日本"
DOMAIN-SUFFIX,binance.info,"🇯🇵 日本"
DOMAIN-SUFFIX,binance.me,"🇯🇵 日本"
DOMAIN-SUFFIX,binance.net,"🇯🇵 日本"
DOMAIN-SUFFIX,binance.org,"🇯🇵 日本"
DOMAIN-SUFFIX,binance.us,"🇯🇵 日本"
DOMAIN-SUFFIX,binance.vision,"🇯🇵 日本"
DOMAIN-SUFFIX,binancecnt.com,"🇯🇵 日本"
DOMAIN-SUFFIX,binancezh.be,"🇯🇵 日本"
DOMAIN-SUFFIX,binancezh.biz,"🇯🇵 日本"
DOMAIN-SUFFIX,binancezh.cc,"🇯🇵 日本"
DOMAIN-SUFFIX,binancezh.co,"🇯🇵 日本"
DOMAIN-SUFFIX,binancezh.com,"🇯🇵 日本"
DOMAIN-SUFFIX,binancezh.info,"🇯🇵 日本"
DOMAIN-SUFFIX,binancezh.ink,"🇯🇵 日本"
DOMAIN-SUFFIX,binancezh.kim,"🇯🇵 日本"
DOMAIN-SUFFIX,binancezh.link,"🇯🇵 日本"
DOMAIN-SUFFIX,binancezh.live,"🇯🇵 日本"
DOMAIN-SUFFIX,binancezh.mobi,"🇯🇵 日本"
DOMAIN-SUFFIX,binancezh.net,"🇯🇵 日本"
DOMAIN-SUFFIX,binancezh.pro,"🇯🇵 日本"
DOMAIN-SUFFIX,binancezh.sh,"🇯🇵 日本"
DOMAIN-SUFFIX,binancezh.top,"🇯🇵 日本"
DOMAIN-SUFFIX,binanceapi.com,"🇯🇵 日本"
DOMAIN-SUFFIX,bnbstatic.com,"🇯🇵 日本"
DOMAIN-SUFFIX,saasexch.com,"🇯🇵 日本"
DOMAIN-SUFFIX,saasexch.io,"🇯🇵 日本"
DOMAIN-SUFFIX,appsflayer.com,"🇯🇵 日本"
# Redotpay,🇯🇵 日本
DOMAIN-SUFFIX,redotpay.com,"🇯🇵 日本"
DOMAIN-SUFFIX,redotpay.zendesk.com,"🇯🇵 日本"
DOMAIN-SUFFIX,pod-15-sunco-ws.zendesk.com,"🇯🇵 日本"
DOMAIN-SUFFIX,xhpjc6-cdn-settings.appsflyersdk.com,"🇯🇵 日本"
DOMAIN-SUFFIX,rp-static-apne1.s3.ap-northeast-1.amazonaws.com,"🇯🇵 日本"
DOMAIN,bgp.he.net,"🇯🇵 日本"



# > 搜狗输入法
RULE-SET,https://ruleset.skk.moe/List/non_ip/sogouinput.conf,REJECT-DROP # REJECT-DROP, DIRECT
# > 广告拦截 / 隐私保护 / 病毒拦截 / 钓鱼和诈骗域名拦截
DOMAIN-SET,https://ruleset.skk.moe/List/domainset/reject.conf,REJECT
RULE-SET,https://ruleset.skk.moe/List/non_ip/reject.conf,REJECT,extended-matching
# > 其它域名拦截
RULE-SET,https://ruleset.skk.moe/List/non_ip/reject-no-drop.conf,REJECT-NO-DROP,extended-matching
RULE-SET,https://ruleset.skk.moe/List/non_ip/reject-drop.conf,REJECT-DROP,extended-matching
# > 测速网站及其测速点域名
DOMAIN-SET,https://ruleset.skk.moe/List/domainset/speedtest.conf,SpeedTest,extended-matching
# > 静态 CDN 域名
DOMAIN-SET,https://ruleset.skk.moe/List/domainset/cdn.conf,Proxy,extended-matching
RULE-SET,https://ruleset.skk.moe/List/non_ip/cdn.conf,Proxy,extended-matching
# > 流媒体域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/stream.conf,Stream,extended-matching
# > 流媒体 IP
RULE-SET,https://ruleset.skk.moe/List/ip/stream.conf,Stream
# > Telegram 域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/telegram.conf,Telegram,extended-matching
# > Telegram IP 规则
RULE-SET,https://ruleset.skk.moe/List/ip/telegram.conf,Telegram
PROCESS-NAME,Telegram,REJECT-DROP
# > Apple & Microsoft 国内 CDN 域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/apple_cdn.conf,Apple-Microsoft
RULE-SET,https://ruleset.skk.moe/List/non_ip/microsoft_cdn.conf,Apple-Microsoft
# > 软件、游戏和驱动的下载和更新域名
DOMAIN-SET,https://ruleset.skk.moe/List/domainset/download.conf,Proxy,extended-matching
RULE-SET,https://ruleset.skk.moe/List/non_ip/download.conf,Proxy,extended-matching
# > Apple CN 域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/apple_cn.conf,DIRECT
# > 苹果和微软服务域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/apple_services.conf,Apple-Microsoft,extended-matching
RULE-SET,https://ruleset.skk.moe/List/non_ip/microsoft.conf,Apple-Microsoft,extended-matching
# > AIGC 类服务域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/ai.conf,AIGC,extended-matching
# > 常见海外域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/global.conf,Proxy,extended-matching
# > 网易云音乐的域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/neteasemusic.conf,DIRECT,extended-matching
# > 国内常见域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/domestic.conf,DIRECT,extended-matching
# > 内网域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/lan.conf,DIRECT
# > 广告拦截 IP
RULE-SET,https://ruleset.skk.moe/List/ip/reject.conf,REJECT-DROP

# > 局域网 IP
RULE-SET,https://ruleset.skk.moe/List/ip/lan.conf,DIRECT
# > 国内 IP 段
RULE-SET,https://ruleset.skk.moe/List/ip/domestic.conf,DIRECT
RULE-SET,https://ruleset.skk.moe/List/ip/china_ip.conf,DIRECT
# > FINAL
FINAL,FINAL,dns-failed
# > 常见直连规则列表
RULE-SET,https://ruleset.skk.moe/List/non_ip/direct.conf,DIRECT,extended-matching

[Host]
dns.alidns.com = 223.5.5.5, 223.6.6.6, 2400:3200:baba::1, 2400:3200::1
doh.pub = 120.53.53.53, 1.12.12.12
doh.360.cn = server:101.198.198.198
RULE-SET:https://ruleset.skk.moe/Modules/Rules/sukka_local_dns_mapping/alibaba.conf = server:quic://dns.alidns.com:853
RULE-SET:https://ruleset.skk.moe/Modules/Rules/sukka_local_dns_mapping/tencent.conf = server:https://doh.pub/dns-query
RULE-SET:https://ruleset.skk.moe/Modules/Rules/sukka_local_dns_mapping/bilibili.conf = server:https://doh.pub/dns-query
RULE-SET:https://ruleset.skk.moe/Modules/Rules/sukka_local_dns_mapping/xiaomi.conf = server:https://doh.pub/dns-query
RULE-SET:https://ruleset.skk.moe/Modules/Rules/sukka_local_dns_mapping/bytedance.conf = server:180.184.2.2
RULE-SET:https://ruleset.skk.moe/Modules/Rules/sukka_local_dns_mapping/baidu.conf = server:180.76.76.76
RULE-SET:https://ruleset.skk.moe/Modules/Rules/sukka_local_dns_mapping/qihoo360.conf = server:https://doh.360.cn/dns-query
securelogin.com.cn = server:system
*.securelogin.com.cn = server:system
captive.apple.com = server:system
hotspot.cslwifi.com = server:system
*.m2m = server:system
injections.adguard.org = server:system
local.adguard.org = server:system
*.bogon = server:system
RULE-SET:https://ruleset.skk.moe/Modules/Rules/sukka_local_dns_mapping/router.conf = server:system
RULE-SET:https://ruleset.skk.moe/Modules/Rules/sukka_local_dns_mapping/lan_without_real_ip.conf = server:system
RULE-SET:https://ruleset.skk.moe/Modules/Rules/sukka_local_dns_mapping/lan_with_realip.conf = server:system
cdn.jsdelivr.net = cdn.jsdelivr.net.cdn.cloudflare.net
